* {
    background-color: #888;
    -webkit-user-select: none;
    user-select: none;
    box-sizing: border-box;
}


/* Default Dropdown behaviour*/

.dropdown {
    position: relative;
    display: inline-block;
}


/* Navigation Bar*/

nav {
    position: fixed;
}

ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: static;
    top: 0;
    width: 75%;
    display: inline-block;
    cursor: pointer;
    border-radius: 5px;
}

li.nav {
    float: left;
    background-color: #333;
    border-radius: 5px;
}

li.nav {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#Clicking {
    position: absolute;
    right: 0;
}


/* li.nav a.nav:hover:not(.active) {
    background-color: #111;
}

.nav.active {
} */


/* Dropdown */

.drop#drop {
    position: static;
    display: inline-block;
    -webkit-user-select: none;
    user-select: none;
}

.drop {
    cursor: pointer;
}

.drop#main_drop {
    font-size: xx-large;
    width: 30px;
    height: 50px;
    border: 3px solid blue;
    display: inline-block;
    -webkit-user-select: none;
    user-select: none;
}

.drop-content {
    font-size: small;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 200px;
    height: 400x;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 5;
    left: 0;
    top: 0;
    overflow: scroll;
}


/* Canvas */

canvas {
    background-color: #000;
    position: absolute;
    z-index: 1;
    border-width: 5px;
    border-radius: 5px;
    border-style: solid;
}


/* Default Menu Background Color */

.menu {
    z-index: 2;
}


/* SVG Bar */

#container {
    position: absolute;
    z-index: 10;
}


/* Main menu */

#main {
    position: absolute;
    border: 5px solid #aaa;
    border-width: 5px;
    border-radius: 5px;
    border-style: solid;
}


/* Editing */


/* Tooltips */

.tooltiptext_top::after {
    content: " ";
    position: absolute;
    top: 100%;
    /* At the bottom of the tooltip */
    left: var(--margin-left-percent);
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.tooltiptext_bottom::after {
    content: " ";
    position: absolute;
    bottom: 100%;
    /* At the top of the tooltip */
    left: var(--margin-left-percent);
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

.tooltiptext_left::after {
    content: " ";
    position: absolute;
    top: 50%;
    right: 100%;
    /* To the left of the tooltip */
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
}

.tooltiptext_right::after {
    content: " ";
    position: absolute;
    top: 50%;
    left: 100%;
    /* To the right of the tooltip */
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent black;
}

#hoveredColor {
    float: left;
}

#vertexinfo {
    position: absolute;
    left: 50%;
}

#hoveredPixel {
    float: right;
}

#selected {
    clear: both;
}

#selectedColor {
    float: left;
}

#selectedPixel {
    float: right;
}

.inline-div {
    display: inline-block;
    width: -moz-fit-content;
    width: fit-content;
}

.anim_input {
    float: left;
    margin: 0;
    padding: auto;
    padding-right: 5%;
    height: 20px;
}

#anim_info {
    height: 20px;
    padding: 3px 5% 3px 5%;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    box-shadow: 0 6px #999;
    float: right;
    margin: 0;
}

#anim_info:hover {
    background-color: #3e8e41
}

#anim_info:active {
    background-color: #3e8e41;
    box-shadow: 0 2px #888;
    transform: translateY(4px);
}

#animation {
    clear: both;
    margin: 10px;
    padding: auto;
    height: max-content;
    height: 80px;
}

#cdv {
    margin: 10px;
    width: 500px;
}

.cdv_elem {
    height: 28px;
    width: 100px;
    padding: 3px 2px 3px 2px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    margin: 0px 5px 0px 5px;
}


/* Editing */


/* Rendering - Camera */

#camera_div {
    width: var(--custom-sub-menu-width);
}

.camera {
    width: var(--camera-paragraph-width);
}

.custom_menu_header {
    width: var(--custom-menu-header-width);
}

#custom_sub_menu {
    overflow-y: auto;
    width: var(--custom-sub-menu-width);
    border: 3px solid #333;
    border-bottom-width: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: 0 4px 6px 2px #111111cc;
}